body {
  background-color: #444343;
  margin: 0;
}

#root {
  margin: 0;
  display: grid;
  font-family: 'Eczar', serif;
  grid-template-areas: 'navigation' 'header' 'content' 'footer';
  grid-template-rows: min-content min-content auto min-content;
}

#navigation {
  font-family: 'Work Sans', sans-serif;
  color: black;
  display: inline;
  justify-content: space-between;
  background-color: steelblue;
  grid-area: navigation;
  position: sticky;
  top: 0;

  > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    color: red;
  }

  a + ul {
    display: none;
    position: absolute;
    left: 0;
  }

  > ul > li {
    display: inline;
    position: relative;
  }
}

#header {
  color: white;
  display: inline;
  grid-area: header;
  padding: 10px;
}

#content {
  color: White;
  display: inline;
  grid-area: content;
  padding: 10px;

  .about > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about > ul > li {
    display: inline;
    position: relative;
  }
}
#footer {
  background-color: steelblue;
  color: White;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  min-height: 20px;
  grid-area: footer;
  padding: 5px;
}

.container {
  width: 100%;
}

.me {
  font-family: 'Work Sans', sans-serif;
}

.about ul ul {
  color: azure;
  display: none;
  font-family: 'Work Sans', sans-serif;
}

.link {
  background-color: steelblue;
  display: flex;
  justify-content: space-evenly;
}

.dot {
  border: solid hotpink 5px;
  color: hotpink;
  position: fixed;
}

a {
  color: white;

  a:visited {
    color: lightgray;
  }
}

img {
  height: 80px;
  width: 90px;
}

@media screen and (max-width: 500px) {
  #root {
    grid-template-areas: 'navigation header' 'navigation content' 'navigation footer';
    grid-template-rows: min-content auto min-content min-content;
    grid-template-columns: 20vw auto;
  }
  #navigation > ul {
    flex-direction: column;
  }
}
